{% include "html_head.html" %}
<body>
	{% include "header_nav.html" %}
	<main>
		<section>
			{% if edit_box_id %}
				<a class="btn-default" href="{{ url_for('box', box_id=edit_box_id) }}">back to box</a>

				<form method="post">
					<h4>ID: {{ edit_box_id }}</h4>
					<input type="hidden" name="box_id" value="{{ edit_box_id }}">
					<input type="text" name="box_name" placeholder="box name" value="{{ box['box_name'] }}" required />
					<br />
					<textarea name="box_description" placeholder="box description" required>{{ box['box_description'] }}</textarea>
					<br />
					<input class="btn-default" type="submit" name="box_save" value="save">
				</form>
			{% elif box_id %}
				<a class="btn-default" href="{{ url_for('home')}}">back to list</a>

				<h2>Box Details</h2>

				<a class="btn-default" href="{{ url_for('box', box_id=box_id, edit_box="edit") }}">edit box informations</a>
				<a class="btn-default bg-red" href="{{ url_for('delete_box', box_id=box_id)}}">delete box with all items</a>

				<h4>ID: {{ box_id }}</h4>
				<h4>Name: {{ box['box_name'] }}</h4>
				<h4>Description: {{ box['box_description'] }}</h4>

				<a class="btn-default" href="{{ url_for('item', box_id=box_id)}}">create item</a>
				<h2>Items</h2>
				<ul class="default-list">
				{% if box['box_items'] %}
				{% for item, data in box['box_items'].items() %}
					<li>
						<a href="{{ url_for('item', box_id=box_id, item_id=item) }}">item {{ item }}, Name: {{ data['item_name'] }}<span class="details-text">DETAILS</span></a>
					</li>
				{% endfor %}
				{% else %}
					<h4>No items found.</h4>
				{% endif %}
				</ul>
			{% else %}
				<a class="btn-default" href="{{ url_for('home')}}">back to list</a>

				<form method="post">
					<input type="text" name="box_name" placeholder="box name" required />
					<br />
					<textarea name="box_description" placeholder="box description" required></textarea>
					<br />
					<input class="btn-default" type="submit" name="box_save" value="save">
				</form>
			{% endif %}
		</section>
	</main>
</body>