{% include "html_head.html" %}

	<body>
		{% include "header_nav.html" %}
		<main class="flex">
			<section>
				<h2>Boxes</h2>
				<p>List of all boxes in the system.</p>
				<a class="btn-default" href="{{ url_for('box', box_id=None)}}">create box</a>
				<ul class="default-list">
				{% if boxes %}

					{% for box, data in boxes.items() %}
						<li>
							<a href="{{ url_for('box', box_id=box) }}">Box-Nr.: {{ box }}, Name: {{ data["box_name"] }}<span class="details-text">DETAILS</span></a>
						</li>
					{% endfor %}

				{% else %}
					<h3>No boxes found.</h3>
				{% endif %}
				</ul>
			</section>

			<section>
				<h2>Dashboard</h2>
				<p>some stats and facts</p>
				{% for key, value in statistics.items() %}
					{{ key }}: {{ value|safe }}<br />
				{% endfor %}
			</section>
		</main>
	</body>
</html>