{% include "html_head.html" %}
<body>
	{% include "header_nav.html" %}
	<main>
		<a class="btn-default" href="{{ url_for('box', box_id=box_id) }}">back to box</a>
		{% if item_id %}
			<h2>Item Details</h2>

			<a class="btn-default" href="">edit item</a>
			<a class="btn-default bg-red" href="">delete item</a>

			<h4>ID: {{ item_id }}</h4>
			<h4>Name: {{ item['item_name'] }}</h4>
			<h4>Description: {{ item['item_description'] }}</h4>
			<h4>Quantity: {{ item['item_quantity'] }}</h4>

		{% else %}
			<form method="post">
				<input type="text" name="item_name" placeholder="item name" required />
				<br />
				<input type="number" name="item_quantity" placeholder="item quantity" />
				<br />
				<textarea name="item_description" placeholder="item description" required></textarea>
				<br />
				<input class="btn-default" type="submit" name="item_save" value="save">
			</form>
		{% endif %}
	</main>
</body>